body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0px;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 60px;

}

div {
  /* border: 1px solid red; */
}

.clock {
  font-size: 20vw;
}

.buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

button {
  background-color: rgb(27, 27, 27);
  border: none;
  color: white;
  ;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(48, 48, 48);
}

div.active,
#button1.active {
  background-color: rgb(0, 96, 0) !important;
}

.text {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.text div {
  background-color: rgb(48, 48, 48);
  padding: 10px 20px;
  border-radius: 10px;
}
